<footer>
  <p class='created-by'><%= footerText %><a href='https://twitter.com/aldo_ferrari'>@aldo_ferrari</a> & <a href='https://twitter.com/Xouuox'>@Xouuox</a> <%= forText %> <a href='https://a-k-apart.com/'>10K Apart</a> | <a href='/<%= lang %>/disclaimer'><%= disclaimFooter %></a> | <%= github %> <a href='https://github.com/maxday/10k'>GitHub</a> </p>
  <nav aria-label='Languages Navigation'>
    <ul>
      <% if (lang === 'en') { %>
        <li class='on'>
      <% } else { %>
        <li>
      <% } %>
      <a href='/en'>EN</a></li>
      <% if (lang == 'fr') { %>
        <li class='on'>
      <% } else { %>
        <li>
      <% } %>
      <a href='/fr'>FR</a></li>
      <% if (lang == 'it') { %>
        <li class='on'>
      <% } else { %>
        <li>
      <% } %>
      <a href='/it'>IT</a></li>
    </ul>
  </nav>
</footer>
