<header>
<% include logo %>
  <nav aria-label='settings Navigation'>
    <ul>
    <!--  <li> <a href='#' onclick="toggle_visibility('settings');" >⚒ <%= menuSettings %> </a> </li>  -->
       <li><a href="#" onclick="toggle_visibility('export');">☇ <%= menuExports %> </a> 
 </li>  
    </ul>
  </nav>
  <nav aria-label='Main Navigation'>
    <ul>
       <li  ><a href='/'><%= menuKolorize %></a></li> 
      <li><a href='/<%= lang %>/about'><%= menuAbout %></a></li>
      <li class='on'><a href='#'><%= menuRezult %></a></li> 
    </ul>
  </nav>

</header>
