<!DOCTYPE html>
<% include partials/head-home %> 
  <body> 
   
    
       <% include partials/header-home %>
  
        <noscript>
    <style type='text/css'>
        #dropHere {display:none;}
    </style>
    <div class='noscriptmsg'>
      <%= noJs %>
    </div>
    </noscript>
    
      <main>
        <canvas id=c>
        </canvas>
        <div id=cont>
          <p class='dsc'><%= HomeDescription  %></p>
          <div id='dropHere'>
            <div>
              <%= dropHere %>
            </div>
            <input type='file' onchange='colorAnalysis()' id=imgsel>
          </div> 
          <form action='/screenshot' method='GET'>
            <label for='scrSht'><%= colorFromWebsite %></label>
            <input type='text' name='scrSht' id='scrSht' placeholder='<%= placeholdInput %>' />
            <button><%= btnKolorize %></button>
          </form>
        </div>

  </main> 
  
      <% include partials/footer %>
 
      <div id='screenshotResult'>
        <% if(typeof screenshotImg != 'undefined') { %>
          <img src='/screenshots/<%= screenshotImg %>' width=800 />
          <% } %>
      </div>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
        <script src='/scripts/main.js' async defer='defer'></script>
        <script src='/scripts/colorAnalysis.js'></script>
        <script src='/scripts/takeScreenshot.js'></script>
        <!--<![endif]-->
        <!-- endbuild -->
  </body> 
  </html>