<!DOCTYPE html>
<% include partials/head-res %>
<body class="container">
  <% include partials/header-res %>
 
  <main>
    	<ul class="colors">
					<li data-color="#2ecc71"></li>
					<li data-color="#D64A4B"></li>
					<li data-color="#8e44ad"></li>
					<li class="active-color" data-color="#46a1de"></li>
					<li data-color="#bdc3c7"></li>
				</ul>


    <ul id='res'>  
      <% for(var i = 0 ; i < colors.split(",").length ; i++) { %>
        <li>
          <%= colors.split(",")[i] %>
        </li>
      <% } %> 
    </ul> 
  </main>  <hr />
    <div class="export">
      Export :
      <ul>
        <li><a href="/export/sass/<%= colors %>" id="exportSass">Sass</a></li>
        <li><a href="/export/less/<%= colors %>" id="exportLess">Less</a></li>
      </ul>
      <div id="exportResult"> 
         <% if(typeof exportColor != 'undefined') { %>
           <% for(var i = 0 ; i < exportColor.length ; i++) { %>
             <%= exportColor[i]; %>
             <br />
           <% } %>
         <% } %>
      </div>
    </div> 
    <hr /> 
    <div id="screenshotResult">
      <% if(typeof screenshotImg != 'undefined') { %>
        <img src = "/static/screenshots/<%= screenshotImg %>" width=800 />
        aaa
      <% } %>
    </div> 
  </main>
  <% include partials/footer %>
     <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!--> 
  <script src="/static/scripts/exportAction.js"></script>
  <script src="/static/scripts/takeScreenshot.js"></script>
        <!--<![endif]-->
        <!-- endbuild -->
</body>
</html>
