<!DOCTYPE html>
<% include partials/head-res %>

  <body >
    <% include partials/header-res %>
      <div class='export'>
        <%= exportPalette %>
        <ul>
          <li><a href='/export/sass/<%= colors %>' id='exportSass'>Scss</a></li>
          <li><a href='/export/less/<%= colors %>' id='exportLess'>Less</a></li>
          <li><a href='#' id='exportLess'>pdf</a></li>
          <li><a href='#' id='exportLess'>url</a></li>
          <li><a href='#' id='exportLess'>png</a></li>
          <li><a href='#' id='exportLess'>photoshop</a></li>
        </ul>
        <div id='exportResult'>
          <% if(typeof exportColor != 'undefined') { %>
            <% for(var i = 0 ; i < exportColor.length ; i++) { %>
              <%= exportColor[i]; %>
                <br />
                <% } %>
                  <% } %>
        </div>
      </div>
      <main>


        <ul id='res' class='colors' style="  background: linear-gradient( to right , <% for(var i = 0 ; i < colors.split(',').length ; i++) { %>
      <%   percent = 100/colors.split(',').length * i;
        %>
     #<%= colors.split(',')[i] %> <%= percent %>% ,

     <% if( i ==   (colors.split(',').length)-1  ) { %>
    #<%= colors.split(',')[i] %>   100%
      <%  } %>

     <% } %> );">
          <% for(var i = 0 ; i < colors.split(',').length ; i++) { %>
            <li style="background-color:#<%= colors.split(',')[i] %>">
              #
              <%= colors.split(',')[i] %>
            </li>
            <% } %>
        </ul>
      </main>
      <% include partials/footer %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
        <script src='/scripts/exportAction.js'></script>
        <!--<![endif]-->
        <!-- endbuild -->
  </body>

  </html>
