<!DOCTYPE html>
<%- include(headHome) %>
  <body >

    <%- include(headerHome) %>

           <noscript>
    <style type='text/css'>
        #dropHere {display:none;}
    </style>
    <div class='noscriptmsg'>
      <%= noJs %>
    </div>
    </noscript>
       <main>
           <canvas id=c>
        </canvas>
        <div id=cont>
          <div id='dropHere'>
            <span><%= dropHere %></span>
            <input type='file' id=imgsel>
          </div>

          <form action='/screenshot' method='GET'>
            <label for='scrSht'><%= colorFromWebsite %></label>
            <input type='text' name='scrSht' id='scrSht' placeholder='any http:// website' />
            <button> Kolorise  </button>
          </form>
        </div>
      </main>

      <canvas id='myCanvas' style='display:none;'>
        <%= noSupportForCanvas %>
      </canvas>

      <div id='screenshotResult'>
        <% if(typeof screenshotImg != 'undefined') { %>
          <img src='/screenshots/<%= screenshotImg %>' width=800 /> aaa
          <% } %>
      </div>


      <%- include(footer) %>
        <!-- build:js h/j.js -->
        <!--[if gt IE 8]><!-->
     <script src='/scripts/main.js' async defer='defer'></script>
        <script src='/scripts/colorAnalysis.js'></script>
        <script src='/scripts/takeScreenshot.js'></script>
        <!--<![endif]-->
        <!-- endbuild -->
  </body>

  </html>
