<!DOCTYPE html>
<% include partials/head %>
<body class="container">
  <% include partials/header %>
  <main>
    Load colors
    <table border=1>
      <thead>
        <tr>
          <th>Colors</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0 ; i < colors.split(",").length ; i++) { %>
          <tr>
            <td style='background-color : #<%= colors.split(",")[i] %>'><%= colors.split(",")[i] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <hr />
    <div class="export">
      Export :
      <ul>
        <li><a href="/export/sass/<%= colors %>" id="exportSass">Sass</a></li>
        <li><a href="/export/less/<%= colors %>" id="exportLess">Less</a></li>
      </ul>
      <div id="exportResult">

         <% if(typeof exportColor != 'undefined') { %>
           <% for(var i = 0 ; i < exportColor.length ; i++) { %>
             <%= exportColor[i]; %>
             <br />
           <% } %>
         <% } %>
      </div>
    </div>

    <hr />
    <div class="screenshot">
      <form action="/screenshot" method="GET">
        <input type="text" name="takeScreenshotURL" id="takeScreenshotURL" value="http://stackoverflow.com" />
        <input type="submit" value="Get color from website" id="takeScreenshot" />
      </form>
    </div>
    <div id="screenshotResult">
      <% if(typeof screenshotImg != 'undefined') { %>
        <img src = "/static/screenshots/<%= screenshotImg %>" width=800 />
        aaa
      <% } %>
    </div>

  </main>
  <% include partials/footer %>
  <script src="/static/exportAction.js"></script>
  <script src="/static/takeScreenshot.js"></script>
</body>
</html>
